.tippy-more-btn {
    border-radius: 8px;
    background-color: var(--white);
}
.menu-body {
    overflow-y: auto;
}

.menu-item {
    width: 100%;
    background-color: var(--white);
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03px;
    padding: 8px 0px;
    margin: 0px;
    min-width: 223px;

    .icon {
        display: inline-block;
        width: 24px; /* Đặt chiều rộng mong muốn */
        height: 24px; /* Đặt chiều cao mong muốn */
        margin-right: 6px; /* Khoảng cách giữa biểu tượng và tiêu đề */
    }

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.03);
    }
}

//Header
.header {
    position: relative;
    height: 30px;
    margin-top: -8px;
    flex-shrink: 0;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
