.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    padding-right: 24px;
    padding-left: 16px;
    box-shadow: 0px 1px 1px rgb(0 0 0/ 0.12);
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    max-width: 100%;
    // padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 300px;
        height: 42px;
    }
}

//Action
.action {
    display: flex;
    align-items: center;
}

.action-btn {
    display: flex;
    font-size: 2.6rem;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}
.action-img-message {
    width: 2.6rem;
}
.action-img-inbox {
    width: 3.2rem;
}
.iconDesktop {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Đảm bảo kích thước bằng 48x48 */
    width: 48px;
    height: 48px;
    background-color: var(--white);
    padding-left: 36px;
    padding-right: 24px;

    &:hover {
        cursor: pointer;
    }
}

.desktop {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 16px;
    align-items: center;
    max-width: 230px;

    .img-desktop {
        width: 116px;
        height: 100px;
    }

    p:nth-child(2) {
        color: rgb(22, 24, 35);
        font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 700;
        letter-spacing: 0.093px;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        margin-top: 8px;
        padding-bottom: 12px;
    }
    p:nth-child(4) {
        color: rgba(22, 24, 35, 0.5);
        font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
        letter-spacing: 0.093px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        margin-top: 12px;
        cursor: pointer;
        display: flex;
    }
}

.more-btn {
    font-size: 1.6rem;
    margin-left: 16px;
    cursor: pointer;
    font-style: normal;
    padding: 0 4px;
    width: 28px;
    height: 20px;
    display: block;
    background-color: var(--white);
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px 8px;
    cursor: pointer;
}
